@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#FFF] text-slate-900 dark:bg-slate-900 dark:text-[#FFF] font-inter;
  }
  #bg-img {
    background-image: url(/utopia-header.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  article p {
    margin-bottom: 1rem;
  }
  article h2,
  article h3 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 1;
    letter-spacing: -1px;
  }
  article a {
    color: #1e40af;
    text-decoration: underline;
  }
  .bg-clip-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  pre {
    padding: 1.5em;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
}
