---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="container">
      <h1 class="text-6xl font-bold">
        Explorons ensemble les horizons de l'<span>Utopie</span> numérique.
      </h1>
      <p>
        <span>Utopiaz</span>, où l'imagination prend vie et les frontières
        s'estompent. Un espace où les possibilités semblent infinies.
      </p>
    </main>
    <Footer />
  </body>
</html>
