---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Bordereau from "../components/Bordereau.astro";
import FeatureLastBlogPost from "../components/FeatureLastBlogPost.astro";
import Citation from "../components/Citation.astro";
import SectionArticlesPopulaires from "../components/SectionArticlesPopulaires.astro";
import SectionFAQ from "../components/SectionFAQ.astro";
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div id="bg-img" class="mb-16 lg:mb-20">
      <main class="container py-20 md:py-36">
        <div class="flex flex-col gap-2 lg:gap-6 md:gap-4">
          <h1
            class="text-3xl lg:text-6xl md:text-5xl sm:text-4xl font-bold text-center"
          >
            Explorons ensemble les horizons de l'<span class="text-brand"
              >Utopie</span
            > numérique.
          </h1>
          <p class="text-lg text-white dark:text-gray-300 text-center">
            <span class="font-bold">Utopiaz</span>, où l'imagination prend vie
            et les frontières s'estompent. <br /> Un espace où les possibilités semblent
            infinies.
          </p>
        </div>
        <!-- <img
          src="/utopia-header.webp"
          title="Image d'une société utopique numérique"
          alt="Image d'une société utopique numérique"
          class="mt-8"
        /> -->
      </main>
    </div>
    <Bordereau />
    <FeatureLastBlogPost />
    <Citation />
    <SectionArticlesPopulaires />
    <SectionFAQ />
    <Footer />
  </body>
</html>
