---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="min-h-dvh flex items-center justify-center">
      <figure class="flex flex-col items-center justify-center gap-4">
        <svg
          width="74"
          height="74"
          viewBox="0 0 74 72"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="animate-pulse"
        >
          <path
            d="M38 16.5L23.5 29.5L31 37.5L42 27.5H47.5L59.5 43L41 61H19.5L0.5 36V54L14.5 72H45L74 44L52.5 16.5H38Z"
            fill="white"></path>
          <path
            d="M60 0H29.5L1 28L22 55H36.5L50.5 42L43.5 34L32.5 44H26.5L15 29L33.5 10.5H54.5L73.5 35.5V18L60 0Z"
            fill="white"></path>
        </svg>
        <figcaption>
          <p class="text-center text-2xl mt-4">Utopiaz Coming soon</p>
        </figcaption>
      </figure>
    </main>
  </body>
</html>
