<section class="md:mt-8 py-6 md:py-16 bg-brand/15">
  <h3
    class="container text-3xl lg:text-6xl md:text-5xl sm:text-4xl tracking-tight font-recoleta"
  >
    Nous croyons au <span class="text-brand">pouvoir de l'information</span>;
    elle donne du sens aux questions que nous posons, et galvanise nos actions.
    Explorez nos articles, et plongeons dans l'<span class="text-brand"
      >avenir de la vie sur Terre</span
    >.
  </h3>
</section>
