<section class="container py-6 md:py-12">
  <div class="flex flex-col gap-4 md:flex-row md:gap-8 md:child:basis-full">
    <div class="flex flex-col justify-between gap-4">
      <h2
        class="text-2xl lg:text-5xl md:text-4xl sm:text-3xl text-brand font-semibold"
      >
        📚 Notre dernier article
      </h2>
      <span
        class="rounded-full bg-brand/15 w-fit py-1 px-3 cursor-pointer font-semibold text-sm"
        >Tech</span
      >
      <div class="flex flex-col gap-2">
        <a
          href="#"
          class="text-xl md:text-2xl font-semibold flex align-center gap-1"
          >Titre du dernier article <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
            ></path>
          </svg>
        </a>
        <p class="text-justify">
          Résumé du dernier article, amet consectetur adipisicing elit. Quis,
          ullam accusantium nisi ad, facere dicta expedita, quisquam hic culpa
          temporibus ipsam maiores ex. Distinctio sed excepturi ullam esse.
          Aperiam sint accusantium nemo quas eligendi veritatis architecto,
          harum ut, nihil distinctio doloremque maiores culpa corrupti autem
          quasi velit? Perferendis, possimus unde minima, officia velit atque
          facere laborum, illo consectetur libero quae!
        </p>
      </div>
    </div>
    <div>
      <img
        src="/blog-placeholder-1.jpg"
        alt=""
        class="h-full object-center object-cover"
      />
    </div>
  </div>
</section>
