---
const { title, subtext } = Astro.props;
---

<div class="mb-10">
  <h3 class="flex items-center mb-4 text-lg font-semibold">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-5 h-5 flex-shrink text-brand mr-2"
    >
      <path
        fill-rule="evenodd"
        d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z"
        clip-rule="evenodd"></path>
    </svg>

    {title}
  </h3>
  <p class="text-gray-600 dark:text-gray-500">
    {subtext}
  </p>
</div>
