---
import ArticlesPopulaires from "./ArticlesPopulaires.astro";
---

<section class="container py-6 md:py-12">
  <p class="text-brand font-bold text-center">BLOG</p>
  <h4 class="pb-6 font-semibold text-3xl text-center">
    Nos Articles Populaires
  </h4>
  <div class="grid grid-cols-3 gap-2">
    <ArticlesPopulaires
      title="Imacs en fin de vie ?"
      tag="Tech"
      imgLink="blog-1.jpg"
      summary="Yeah idk"
    />
    <ArticlesPopulaires
      title="Imacs en fin de vie ?"
      tag="Tech"
      imgLink="utopia-header.webp"
      summary="Yeah idk"
    />
    <ArticlesPopulaires
      title="Imacs en fin de vie ?"
      tag="Tech"
      imgLink="blog-2.jpg"
      summary="Yeah idk"
    />
  </div>
</section>
